.hero-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../../../External/tenor.gif") center/cover no-repeat;
  position: relative;
  animation: upsideDownRotateIn 1.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hero-container::before {
  content: "";
  position: fixed;
  top: -54px;
  left: 0px;
  width: 148px;
  height: 114vh;
  background: url("../../../External/demoHands.png") no-repeat;
  background-size: cover;
  background-position: left center;
  pointer-events: none;
  z-index: 1;
}

.hero-container::after {
  content: "";
  position: fixed;
  top: -54px;
  right: 0px;
  width: 148px;
  height: 114vh;
  background: url("../../../External/demoHands.png") no-repeat;
  background-size: cover;
  background-position: right center;
  pointer-events: none;
  z-index: 1;
}

.normal-world {
  background: linear-gradient(#0707073e, #0e0e0ebb),
    url("../../../External/labMorning.png") center/cover no-repeat;
}

@keyframes upsideDownRotateIn {
  0% {
    transform: rotate(180deg) scale(1.05);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

.contentContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
    url("../../../External/darkBanner.png") left/cover no-repeat;
  height: 350px;
}
.contentContainerNormalWorld {
  background: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
    url("../../../External/headerBannerNormalImage.png") center/cover no-repeat;
  height: 350px;
}
.boxContainer {
  height: 300px;
  border-radius: 14px;
  background: linear-gradient(rgba(0, 0, 0, 0.474), rgba(0, 0, 0, 0.447)),
    url("../../../External/redThemeBanner.jpg") top/cover no-repeat;
}
.boxContainerNormalWorld {
  height: 300px;
  border-radius: 14px;
  /* background: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
    url("../../../External/starCourtMallBanner.png") bottom/cover no-repeat; */
  background: #f7f7f724;
}
.headerSection {
  animation: slideDown 0.9s ease-out forwards;
  transform: translateY(-100px);
}

@keyframes slideDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.headerSectionNormalWorld {
  background-color: #1e3284e6 !important;
}
.strangerBtn {
  padding: 10px 30px !important;
  background: rgba(0, 0, 0, 0.4) !important;
  color: #dcdcdc !important;
  font-size: 12px;
  border: 1px solid rgba(255, 0, 0, 0.3) !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.3s ease;
}

.p-button:focus {
  box-shadow: 0 0 0 1.5px rgb(200 42 42 / 50%);
}

.videoSection {
  background: url("../../../External//youTube.jpg") center/cover no-repeat;
}

/*Toggle switch designs.......................................................*/
/* Stranger Things Toggle Switch */

.p-inputswitch {
  width: 50px;
  height: 22px;

  .p-inputswitch-slider {
    border-radius: 30px;
    border: 1px solid #3a0000;
    transition: all 0.6s ease;
    box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.4);

    &::before {
      content: "";
      width: 17px;
      height: 17px;
      background: radial-gradient(circle, #ff0000, #7a0000);
      border-radius: 50%;
      position: absolute;
      top: 12px;
      left: 3px;
      transition: all 0.6s ease;
      box-shadow: 0 0 6px rgba(255, 0, 0, 0.6), 0 0 12px rgba(255, 0, 0, 0.8);
    }
  }

  /* ON STATE */
  &.p-inputswitch-checked {
    .p-inputswitch-slider {
      background: linear-gradient(90deg, #5c0000, #ff0000);
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6),
        inset 0 0 8px rgba(255, 255, 255, 0.3);

      &::before {
        transform: translateX(28px);
        background: radial-gradient(circle, #ff3b3b, #a00000);
        box-shadow: 0 0 10px rgba(255, 0, 0, 1), 0 0 20px rgba(255, 0, 0, 0.9),
          0 0 30px rgba(255, 0, 0, 0.7);
        animation: strangerFlicker 2s infinite;
      }
    }
  }
}

.inputToggleSwitch {
  margin-top: 6px;
}

.p-inputswitch.p-highlight .p-inputswitch-slider:before {
  transform: translateX(26px) !important;
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
  background: #53a6ff;
}

/* 🔥 Flicker animation (Upside Down feel) */
@keyframes strangerFlicker {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0.8;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0.7;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
