.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--black);
}

.bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-layer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.636);
  z-index: 2;
}

.bg-gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4) blur(2px);
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 10px var(--red);
  }
  50% {
    text-shadow: 0 0 40px var(--red);
  }
  100% {
    text-shadow: 0 0 10px var(--red);
  }
}

.headerSection {
  animation: slideDown 0.9s ease-out forwards;
  transform: translateY(-100px);
  position: relative;
  z-index: 9999;
  opacity: 0;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.strangerBtn {
  padding: 10px 30px !important;
  background: rgba(0, 0, 0, 0.4) !important;
  color: #dcdcdc !important;
  font-size: 12px;
  border: 1px solid rgba(255, 0, 0, 0.3) !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.3s ease;
}

.p-button:focus {
  box-shadow: 0 0 0 1.5px rgb(200 42 42 / 50%) !important;
}
