/* Font family for the entire site .....................................*/
@font-face {
  font-family: "interRegular";
  src: url("../External/fonts/Inter_24pt-Regular.ttf");
}
* {
  font-family: "interRegular", sans-serif;
}
/* Common WebPart FullWidth and CanvasZone Default Code .....................*/
.sp-appBar {
  display: none !important;
}
.commandBarWrapper {
  display: none !important;
}
.CanvasToolboxHint-plusButtonWrapper {
  display: none !important;
}
.headerRow-106 {
  display: none !important;
}
#CommentsWrapper {
  display: none;
}
#SuiteNavWrapper {
  display: none !important;
}
.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}
.ControlZone {
  margin: 0px !important;
  padding: 0px !important;
}
.spAppAndPropertyPanelContainer {
  padding: 0px;
}
[data-automationid="SimpleFooter"] {
  display: none !important;
}
[data-automationid="SiteHeader"] {
  display: none !important;
}
*::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(192, 192, 192);
}

#workbenchPageContent {
  max-width: 100%;
  margin: 0 !important;
}

.videoDialog .p-dialog-content {
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  width: 700px;
  background: linear-gradient(rgba(11, 11, 11, 0.444), rgba(9, 9, 9, 0.486)),
    url("../External/strangerThingsPopUp.jpg") center/cover no-repeat !important;
}

.feedBackDialog .p-dialog-content {
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  width: 700px;
  background: linear-gradient(
      rgba(11, 11, 11, 0.808),
      rgba(255, 254, 254, 0.716)
    ),
    url("../External/strangerThingsPopUp.jpg") center/cover no-repeat !important;
  z-index: 2;
}
.feedBackDialog .p-dialog-content::before {
  content: "";
  position: absolute;
  top: -167px;
  left: -101px;
  width: 936px;
  height: 141%;
  background: url("../External/HoldPopup.png") no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  z-index: -1;
}

.threeD .p-dialog-content {
  padding: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.815)),
    url("../External/strangerThingsPopUp.jpg") center/cover no-repeat !important;
}
.p-dialog {
  border: none !important;
  position: relative;
}
.p-dialog .p-dialog-header {
  display: none;
}
.p-inputtext:enabled:focus {
  border-color: var(--white) !important;
  box-shadow: none !important;
}
.p-inputtext::placeholder {
  font-size: 12px;
  color: var(--white);
}
.p-inputtext {
  color: var(--white);
  font-size: 12px;
  background: transparent;
}

/* Toast Common Styles: .............................................*/
.toastContainer {
  display: flex;
  flex: 1;
  gap: 14px;
  align-items: center;
}
.toastContainer i {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}
.toast-Heading {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
}
.toast-message {
  font-size: 13px;
}
.p-toast .p-toast-message .p-toast-message-content {
  padding: 16px;
  gap: 6px;
}

.p-toast .p-toast-message .p-toast-icon-close {
  width: 14px;
  height: 14px;
  color: var(--white);
}
.toast-imgcontainer-success {
  padding: 10px;
  background-color: #165424f7;
  border-radius: 6px;
}
.toast-imgcontainer-warning {
  padding: 3px;
}
.toast-imgcontainer-warning img {
  width: 50px !important;
  height: 50px !important;
}

.p-toast .p-toast-message .p-toast-icon-close:hover {
  background-color: transparent !important;
}

.p-toast .p-toast-message.p-toast-message-warn {
  background: #fa4f4f;
  border: none;
  color: var(--white);
}
/* Animate toast content */
.p-toast-message-content {
  position: relative;
  overflow: hidden;
}

/* Fire animated bottom line */
.p-toast-message-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff4500,
    #ffae00,
    #ff4500,
    #ff0000
  );
  filter: blur(2px);
  animation: fireMove 3s linear infinite, fireGlow 0.18s ease-in-out infinite;
  border-radius: 2px;
}

/* Fire movement */
@keyframes fireMove {
  0% {
    background-position: 0% 0;
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    background-position: 300% 0;
    transform: scaleX(1);
    transform-origin: left;
  }
}

/* Flickering fire glow */
@keyframes fireGlow {
  0% {
    box-shadow: 0 0 10px #ff2d2d, 0 0 20px #ff6600;
  }
  50% {
    box-shadow: 0 0 14px #ff6d00, 0 0 28px #ff3b00;
  }
  100% {
    box-shadow: 0 0 10px #ff2d2d, 0 0 20px #ff6600;
  }
}

.normalWorlHeading {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 25px;
  text-shadow: 0 0 12px var(--white);
}

.heading {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #00eaff;
  margin-bottom: 25px;
  text-shadow: 0 0 12px #00eaff;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 52px !important;
  height: 3px !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background: linear-gradient(
    90deg,
    rgba(255, 200, 60, 1) 0%,
    rgba(255, 110, 40, 1) 30%,
    rgba(200, 30, 30, 1) 60%,
    rgba(255, 140, 60, 1) 100%
  );
}
.p-carousel-next {
  display: none !important;
}

.p-carousel-prev {
  display: none !important;
}

.card {
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.921), rgba(0, 0, 0, 0.099)),
    url("../External/strangerThingsPopUp.jpg") center/cover no-repeat !important;
}
.cardNormalWorld {
  cursor: pointer;
  background: linear-gradient(var(--white), rgba(0, 0, 0, 0.418));
}
.p-calendar {
  width: 100%;
}
.chart {
  background: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.859)),
    url("../External/graph.jpg") center/cover no-repeat !important;
}
.p-datepicker table td > span.p-highlight {
  background: #007bff69;
}
.p-datepicker-calendar {
  font-size: 12px;
}
.p-datepicker table td > span {
  width: 30px;
  height: 30px;
}
.calendar .p-datepicker .p-datepicker-header {
  background: linear-gradient(rgba(0, 0, 0, 0.921), rgba(0, 0, 0, 0.511)),
    url("../External/strangerThingsPopUp.jpg") center/cover no-repeat !important;

  backdrop-filter: blur(12px);
  font-size: 13px;
  color: var(--white);
  border-bottom: none;
}
.normal-world-calendar .p-datepicker .p-datepicker-header {
  background: #1e3284e6;
  font-size: 13px;
  color: var(--white);
  border-bottom: none;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  font-weight: 100 !important;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year {
  font-weight: 100 !important;
}
.calendar .p-datepicker {
  background: linear-gradient(
      140deg,
      rgba(255, 255, 255, 0.18),
      rgba(255, 255, 255, 0.05)
    ),
    rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);
  color: var(--white);
  border: none !important;
}
.normal-world-calendar .p-datepicker {
  background: #ffffffc9;
  color: #1e3284e6;
  border: none !important;
}
.p-datepicker:not(.p-disabled)
  table
  td
  span:not(.p-highlight):not(.p-disabled):hover {
  background: #e9ecefbd;
  color: var(--black);
}

.AwardsNameContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.474), rgba(0, 0, 0, 0.441)),
    url("../External/graph.jpg") center/cover no-repeat !important;
}
.AwardsNameContainerNormalWorld {
  background-color: #1e3284e6;
}

.starcourtMall {
  background: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.582)),
    url("../External/starCourtMall.jpg") center/cover no-repeat !important;
  padding: 10px 14px 10px 14px;
  border-radius: 6px;
}
.starCourtNormalWorld {
  background: #1e3284e6;
  padding: 10px 14px 10px 14px;
  border-radius: 6px;
}

.panoroma {
  width: 100%;
  height: 100%;
  background: url("../External/roomRainbow.png") center/cover no-repeat;
  transition: transform 0.15s ease-out;
  cursor: grab;
  transform-style: preserve-3d;
  transition: transform 0.15s ease-out;
}

.p-inputswitch-slider {
  border: 1px solid transparent !important;
}

canvas {
  width: 800px !important;
}

.fadeUp {
  opacity: 0;
  transform: translateY(50px);
  transition: all 2.5s ease-out;
}

.fadeDown {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 2.5s ease-out;
}

.fadeLeft {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 2.5s ease-out;
}

.fadeRight {
  opacity: 0;
  transform: translateX(50px);
  transition: all 2.5s ease-out;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.loaderScreen {
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at center, #120000, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loaderScreen img {
  width: 154px;
  border-radius: 50%;
}
.loadingText {
  display: flex;
  gap: 2px;
  font-size: 12px;
  letter-spacing: 6px;
  color: #ff4d4d;
  margin: 20px 0px 0px 38px;
}

.loadingText span {
  animation: jump 1s infinite ease-in-out;
  font-family: monospace;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.6;
  }
  50% {
    transform: translateY(-12px);
    opacity: 1;
  }
}
