.AllNewsSection {
  padding: 0;
}

.NewsCarousel {
  margin-top: 20px;
}

.NewsCard {
  background: #ffffff1a;
  width: 90%;
  height: 338px;
  margin: auto;
  border-radius: 6px;
  padding: 14px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.ImageBox {
  width: 100%;
  height: 160px;
  overflow: hidden;
  border-radius: 12px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.9s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
}

.AuthorRow {
  color: #ff4e4e;
  margin-top: 10px;
  font-size: 12px;
}

.Title {
  color: #ffffff;
  margin-top: 6px;
  font-size: 15px;
}

.FooterRow {
  color: #cccccc;
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.NewsCard:hover .ImageBox img {
  transform: scale(1.15);
}
