@import "../../../../External/commonStyles.module.scss";
.container {
  padding: 0px;
}

.heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(242px, 1fr));
  gap: 30px;
}

.card {
  cursor: pointer;
  //   background: #f1f1f117;
  border-radius: 6px;
  //   padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;

  &:hover {
    transform: translateY(-8px);
    .imageWrap img {
      transform: scale(1.15);
    }
  }
}

.info {
  margin-top: 14px;

  .name {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
    letter-spacing: 1px;
    color: #ffddd9;
    animation: blueFireGlow 2s ease-in-out infinite,
      blueFireFlicker 0.12s infinite alternate;
  }

  .role {
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    background: #1e40af5c;
    color: var(--white);
    border-radius: 12px;
  }
}

/* Smooth breathing glow */
@keyframes blueFireGlow {
  0% {
    text-shadow: 0 0 6px #76c7ff, 0 0 12px #4db8ff, 0 0 22px #009dff;
  }
  50% {
    text-shadow: 0 0 10px #a3dbff, 0 0 18px #6dc8ff, 0 0 28px #18b0ff;
  }
  100% {
    text-shadow: 0 0 6px #76c7ff, 0 0 12px #4db8ff, 0 0 22px #009dff;
  }
}

/* Light flame shake flicker */
@keyframes blueFireFlicker {
  0% {
    transform: translateX(0px) scale(1);
    filter: brightness(1);
  }
  100% {
    transform: translateX(0.6px) scale(1.02);
    filter: brightness(1.2);
  }
}

/* staggered layout like image */
.offsetUp {
  margin-top: -3px;
}

.offsetDown {
  margin-top: 30px;
}

.imageWrap {
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #000000b5;
    transition: transform 0.6s ease;
    z-index: 1;
  }
}

.imageWrap img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.5s ease;
}

.card:hover {
  .imageWrap::after {
    transform: translateX(100%);
  }
}
