@import "../../../../External/commonStyles.module.scss";
.TopProjectSection {
  width: 100%;
  color: var(--white);
}

.TopProjectContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.TopProjectBox {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff0d;
  padding: 10px;
  border-radius: 6px;
  gap: 25px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  &:hover {
    transform: translateY(-5px);
  }
}

/* Timeline Left */
.leftTimeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timelineDot {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 5px;

  img {
    width: 55%;
    height: 55%;
    object-fit: cover;
    filter: brightness(1.5) saturate(0) contrast(0.8);
  }
}

.timelineLine {
  width: 3px;
  height: 18px;
  background: linear-gradient(
    to bottom,
    rgba(0, 255, 255, 0.8),
    rgba(255, 0, 0, 0.6)
  );
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.4);
}

/* Content */
.contentBox {
  flex: 1;

  .projectTitle {
    font-size: 16px;
    font-weight: 600;
    color: #ff4f4f;
    margin-bottom: 5px;
  }

  .projectDesc {
    font-size: 14px;
    color: var(--white);
  }
}

.projectDate {
  font-size: 14px;
  display: flex;
  gap: 10px;
  .calendarIcon {
    width: 16px;
    height: 16px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
