@import "../../../../External/commonStyles.module.scss";
.AwardsContainer {
  padding: 0;
  .NewsCarousel {
    margin-top: 20px;
  }
}
.AwardsCard {
  font-size: 13px;
  background: #ffffff1a;
  padding: 14px 18px;
  border-radius: 6px;
  .AwardsNameContainer {
    width: 132px;
    padding: 4px 20px 4px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .AwardsImageAndNameContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 14px;
    .imageContainer {
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 18px;
      img {
        width: 100%;
        border-radius: 18px;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;
      }
    }
    .NameContainer {
      .name {
        font-size: 15px;
        letter-spacing: 0.5px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -26px;
          width: 100%;
          height: 4px;
          background: linear-gradient(
            90deg,
            transparent,
            #ff4500,
            #ffae00,
            #ff4500,
            transparent
          );
          background-size: 200% 100%;
          opacity: 0;
          filter: blur(0.6px);
          transition: opacity 0.3s ease;
        }
      }
      .title {
        color: rgba(255, 255, 255, 0.541);
        font-size: 12px;
      }
    }
  }
  .discription {
    background: #ffffff12;
    border-radius: 6px;
    padding: 10px 18px;
    text-align: left;
    margin-bottom: 20px;
  }
  .AwardedByContainer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    align-items: center;
    .awardByName {
      font-size: 12px;
    }
    .awardedByImageContainer {
      width: 30px;
      height: 30px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  &:hover {
    cursor: pointer;
    .imageContainer img {
      transform: scale(1.15);
    }
    .NameContainer .name::after {
      opacity: 1;
      animation: dragonFire 1.8s linear infinite;
    }
  }
}

@keyframes dragonFire {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
